@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/*color*/
	--black-tile: ##000000;
	--black: #1b1b1b;
	--yellow: #ffd15b;
	--white: #ffffff;
	--grey: #7a7a7a;
	--background: #ededed;
}

body {
	display: flex;
	justify-content: center;
}

.body-container {
	width: 100%;
	max-width: 1440px;
	min-width: 320px;
	background-color: var(--background);
	/* padding: 0 50px;  */
}

main {
	/* margin-top: 20px; */
	font-family: "Manrope", sans-serif;
}

h1,
h2 {
	font-family: "Anton", sans-serif;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	/* margin-top: 20px; */
	/* height: 20%; */
}

h3 {
	color: var(--grey);
	font-family: Manrope;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	/* margin-top: 30px; */
	/* margin-bottom: 20px; */
}

p {
	color: var(--Black);
	font-family: Manrope;
	font-weight: 400;
	/* text-align: justify; */
	font-size: 14px;
	margin-bottom: 0px;
}

/****HEADER****/
.banner-container {
	position: relative;
	/* width: 100%; */
	margin: 0 auto;
	/* height: 300px; */
	width: 100%;
}

.img-header {
	width: 100%;
	height: 570px;
	object-fit: cover;
}

a {
	text-decoration: underline;
}
.logo {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 180px;
	height: 25px;
	letter-spacing: 0.5px;
}

.banner-search {
	position: absolute;
	text-align: center;
	top: 45%;
	/* top: 100%; */
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
}

.title-header {
	color: var(--yellow);

	font-size: 44px;
	font-weight: 400;
	/*height: 60px;
	margin: 50px 15% 10px;*/
	text-align: center;
	padding: 30px;
}

.search-bar {
	height: 62px;
}

.search-icon {
	position: absolute;
	right: 0;
	margin: 10px;
}

.magnifying-glass:hover {
	background-color: var(--yellow);
	color: var(--black);
	border: none;
}

/*****Filtres****/
/*.filter-section {
	display: flex;
	align-items: center;
	padding: 10px;
}*/

/****Filtes *****/
.filter-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 60px;
	width: 100%;
	/* padding: 10px; */
}

.recipes-count {
	color: var(--Black);
	font-size: 21px;
	flex-grow: 1;
	/* line-height: 60px; */
	text-align: right;
}

.dropdown-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* position: relative; */
	/* z-index: 2000; */
	/* margin: 20px 0px 10px 30px; */
	width: 195px;
	height: 56px;
	border-radius: 11px;
	background: #ffffff;
}

.dropdown {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.dropdown-menu {
	position: absolute;
	border: 0;
	/* width: 195px;
	height: 315px; */
	min-width: 12.2rem;
	height: 370px;
	background: #ffffff;
	left: 0;
	top: 80%;
	/* top: 88%; */
	/* overflow-y: auto; */
	/* overflow: scroll; */
	border-radius: 11px;
	/* max-height: 270px; */
	/*display: none;
	visibility: hidden;*/
}

.btn:focus {
	box-shadow: none;
}
/*
.dropdown-search ul {
	overflow-y: auto;
	max-height: 250px;
	margin-top: 10px;
	
}

ul::-webkit-scrollbar {
	display: none;
}
*/
.dropdown-menu.show {
	display: block;
}

/*.dropdownMenu--active {
	display: block;
	visibility: visible;
}
*/
.dropdown-toggle {
	position: relative;
}

.icon-chevron {
	margin-left: 0.5em;
	vertical-align: middle;
	transition: transform 0.2s;
}

.dropdown-toggle::after {
	display: none !important;
	content: "";
	width: 0.3em;
	height: 0.3em;
	margin-left: 0.5em;
	vertical-align: middle;
	border-top: 0.4em solid;
	border-right: 0.4em solid transparent;
	border-bottom: 0;
	border-left: 0.4em solid transparent;
	transition: transform 0.2s;
}
.dropdown-toggle[aria-expanded="true"]::after {
	transform: rotate(180deg);
}

.dropdown-toggle[aria-expanded="true"] .icon-chevron {
	transform: rotate(180deg);
}

.dropdown-content .fa-chevron-down {
	position: absolute;
	top: 50%;
	right: -70px;
	transform: translateY(-50%);
}
/*
.icon-chevron-up {
	
	transform: translateY(-30%);
}
*/
.dropdown-search {
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 10px;
	background-color: #ffffff;
}

.input-group {
	margin-bottom: 15px;
}

.input-group-append {
	position: absolute;
	top: 5px;
	right: 0;
	bottom: 0;
}

.ingredients-items ul,
.appliances-items ul,
.utensils-items ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* height: 50px; */
	/* line-height: 25px; */
	/* padding: 0 10px 0 10px; */
	color: var(--black);
	overflow: hidden;
	max-height: 275px;
	cursor: pointer;
}

ul:hover {
	overflow-y: scroll;
	/* overflow-y: auto; */
}
/*
ul:hover ::-webkit-scrollbar {
	width: 7px;
}
*/
ul li {
	/* text-decoration-line: none; */
	font-family: Manrope;
	font-size: 14px;
	font-weight: 400;
	color: var(--black);

	/* height: 37px; */
	margin-top: 13px;
	/* border-radius: 11px; */
	/* margin-bottom: 10px; */
	/* padding: 0 13px; */
}

ul li:hover,
ul li:focus {
	background: var(--yellow);
}

/*ul li .selected {
	position: relative;
	background-color: #ffd15b;
	overflow: hidden; 
}*/
li.ingredient-tag.tag.selected,
li.appliance-tag.tag.selected,
li.ustensil-tag.tag.selected {
	position: relative;
	background-color: #ffd15b;
	overflow: hidden;
	/* display: none; */
	/* visibility: hidden; */
}

li.ingredient-tag.tag.selected::after,
li.appliance-tag.tag.selected::after,
li.ustensil-tag.tag.selected::after {
	content: url(../assets/icons/cross-tag-list.svg);
	position: absolute;
	right: 5px;
	top: 3px;
}

/************TAGS*********/
.tags-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tags-section .tags {
	margin: 10px 5px 4px 5px;
	border-radius: 10px;
	background: #ffd15b;
}

.tags-section .tag-content {
	height: 35px;
	margin: 0;
	padding: 5px 10px 5px 10px;
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	color: var(--black);
	font-family: Manrope;
	font-size: 14px;
	font-weight: 400;
}

.tags-section i {
	margin-left: 7px;
	margin-top: 2px;
	width: 20px;
	height: 20px;
	cursor: pointer;

	/*margin-left: 20px;
    margin-right: 0;
    cursor: pointer;
    color: #1b1b1b;*/
}
/*****ARTICLE***********/

.card {
	border-radius: 20px;
	/* height: 100%; */
	width: 100%;
}

.img-container {
	position: relative;
	width: 100%;
	/* height: 40%;*/
}
.card-img {
	/*width: 100%;
	height: 40%;*/
	/* width: 380px; */
	width: 100%;
	height: 253px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/* object-position: center; */
}

.card-time {
	align-items: center;
	background-color: var(--yellow);
	border-radius: 14px;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	/* height: 30px; */
	justify-content: center;
	padding: 5px 8px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20%;
}

.card-body {
	padding: 25px;

	display: flex;
	flex-direction: column;
	height: 550px;
	/* height: 60%; */
	/* height: 580px; */
	/* margin-left: 5%; */
	/* width: 90%; */
	gap: 20px;
}

.card-description {
	height: 66%;
	overflow: scroll;
	text-align: justify;
}

.card-description::-webkit-scrollbar {
	display: none;
}
.recipes-container {
	height: 25%;
}

.ingredients-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 25px;
	grid-auto-rows: auto;
	height: auto;
	/* margin: 10px 0; */
	margin: 15px 0;
	width: 100%;
}

.card-unit {
	color: var(--grey);
}

/**RESPONSIVE**/
/*@media screen and (min-width: 768px) {
	.img-header {
		width: 100%;
		height: 570px;
	}
}*/

@media (max-width: 1024px) {
	h2 {
		font-size: 14px;
		height: 4%;
	}
	.logo {
		top: 45px;
		left: 40px;
	}
	.banner-search {
		top: 60%;
	}

	.title-header {
		font-size: 30px;
	}

	.dropdown-content {
		width: 192px;
		height: 50px;
	}
}

/*
@media (max-width: 767.98px) {
	.logo {
		left: 220px;
		width: 150px;
	}
	.img-header {
		width: 120%;
		height: 400px;
	}

	.banner-search {
		left: 74%;
		width: 74%;
		margin-left: -9px;
	}
	.title-header {
		font-size: 20px;
	}
}
*/

@media (max-width: 767.98px) {
	.body {
		margin: 0;
	}
	.body-container {
		padding: 0px;
	}
	.banner-container {
		width: 120%;
	}
	.logo {
		top: 40px;
		left: 40px;
		height: 20px;
		width: 150px;
	}

	.img-header {
		height: 400px;
		width: 180%;
	}
	.banner-search {
		top: 60%;
		left: 72%;

		width: 100%;
	}

	.title-header {
		font-size: 20px;
	}
	.recipes-section {
		padding: 20px;
		width: 170%;
	}
	.filter-section {
		gap: 20px;
		justify-content: center;
	}
}

.filter__is-collapsed {
	display: flex;
}
