@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/*color*/
	--black-tile: ##000000;
	--black: #1b1b1b;
	--yellow: #ffd15b;
	--white: #ffffff;
	--grey: #7a7a7a;
	--background: #ededed;
}

body {
	display: flex;
	justify-content: center;
	background-color: var(--background);
}

.body-container {
	width: 100%;
	max-width: 1440px;
	min-width: 320px;
	/* padding: 0 50px;  */
}

main {
	/* margin-top: 20px; */
	font-family: "Manrope", sans-serif;
}

h1,
h2 {
	font-family: "Anton", sans-serif;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	/* margin-top: 20px; */
	/* height: 20%; */
}

h3 {
	color: var(--grey);
	font-family: Manrope;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	/* margin-top: 30px; */
	/* margin-bottom: 20px; */
}

p {
	color: var(--Black);
	font-family: Manrope;
	font-weight: 400;
	/* text-align: justify; */
	font-size: 14px;
	margin-bottom: 0px;
}

/****HEADER****/
.banner-container {
	position: relative;
	/* width: 100%; */
	margin: 0 auto;
	/* height: 300px; */
	width: 100%;
}

.img-header {
	width: 100%;
	height: 570px;
	object-fit: cover;
}

a {
	text-decoration: underline;
}
.logo {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 180px;
	height: 25px;
	letter-spacing: 0.5px;
}

.banner-search {
	position: absolute;
	text-align: center;
	top: 45%;
	/* top: 100%; */
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
}

.title-header {
	color: var(--yellow);

	font-size: 44px;
	font-weight: 400;
	/*height: 60px;
	margin: 50px 15% 10px;*/
	text-align: center;
	padding: 30px;
}

.search-bar {
	height: 62px;
}

.search-icon {
	position: absolute;
	right: 0;
	margin: 10px;
}

.magnifying-glass:hover {
	background-color: var(--yellow);
	color: var(--black);
	border: none;
}

/*****Filtres****/
/*.filter-section {
	display: flex;
	align-items: center;
	padding: 10px;
}*/

/****Filtes *****/
.filter-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 60px;
	width: 100%;
	/* padding: 10px; */
}

.recipes-count {
	color: var(--Black);
	font-size: 21px;
	flex-grow: 1;
	/* line-height: 60px; */
	text-align: right;
}

.dropdown-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* margin: 20px 0px 10px 30px; */
	width: 195px;
	height: 56px;
	border-radius: 11px;
	background: #ffffff;
}

.dropdown-content .fa-chevron-down {
	position: absolute;
	top: 50%;
	right: -54px;
	transform: translateY(-50%);
}

.dropdown-search {
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 10px;
	background-color: #ffffff;
}

/*@media screen and (min-width: 768px) {
	.recipes-section {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.recipes-section {
		grid-template-columns: repeat(3, 1fr);
	}
}
*/

/*****ARTICLE***********/

.card {
	border-radius: 20px;
	/* height: 100%; */
	width: 100%;
}

.img-container {
	position: relative;
	width: 100%;
	/* height: 40%;*/
}
.card-img {
	/*width: 100%;
	height: 40%;*/
	/* width: 380px; */
	width: 100%;
	height: 253px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/* object-position: center; */
}

.card-time {
	align-items: center;
	background-color: var(--yellow);
	border-radius: 14px;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	/* height: 30px; */
	justify-content: center;
	padding: 5px 8px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20%;
}

.card-body {
	padding: 25px;

	display: flex;
	flex-direction: column;
	height: 550px;
	/* height: 60%; */
	/* height: 580px; */
	/* margin-left: 5%; */
	/* width: 90%; */
	gap: 20px;
}

.card-description {
	height: 66%;
	overflow: scroll;
	text-align: justify;
}

.card-description::-webkit-scrollbar {
	display: none;
}
.recipes-container {
	height: 25%;
}

.ingredients-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 25px;
	grid-auto-rows: auto;
	height: auto;
	/* margin: 10px 0; */
	margin: 15px 0;
	width: 100%;
}

.card-unit {
	color: var(--grey);
}

/**RESPONSIVE**/
/*@media screen and (min-width: 768px) {
	.img-header {
		width: 100%;
		height: 570px;
	}
}*/

@media (max-width: 1024px) {
	h2 {
		font-size: 14px;
		height: 4%;
	}
	.logo {
		top: 45px;
		left: 40px;
	}
	.banner-search {
		top: 60%;
	}

	.title-header {
		font-size: 30px;
	}

	.dropdown-content {
		width: 150px;
		height: 50px;
	}
}

/*
@media (max-width: 767.98px) {
	.logo {
		left: 220px;
		width: 150px;
	}
	.img-header {
		width: 120%;
		height: 400px;
	}

	.banner-search {
		left: 74%;
		width: 74%;
		margin-left: -9px;
	}
	.title-header {
		font-size: 20px;
	}
}
*/

@media (max-width: 767.98px) {
	.body {
		margin: 0;
	}
	.body-container {
		padding: 0px;
	}
	.banner-container {
		width: 120%;
	}
	.logo {
		top: 40px;
		left: 40px;
		height: 20px;
		width: 150px;
	}

	.img-header {
		height: 400px;
		width: 180%;
	}
	.banner-search {
		top: 60%;
		left: 72%;

		width: 100%;
	}

	.title-header {
		font-size: 20px;
	}
	.recipes-section {
		padding: 20px;
		width: 170%;
	}
	.filter-section {
		gap: 20px;
		justify-content: center;
	}
}
